
/* File preview (doc-preview)
**************************/

.doc-preview {
    max-width: 640px;
}

.doc-preview__metadata div {
    margin: 0.5em 0;
}

.doc-preview__content {
    padding-top: 2em;
}